/* 共通
------------------------------------------------------------*/

body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  clear: both;
  padding-top: 30px;
}

section h2 {
  font-family: "Pacifico", cursive;
  width: 60%;
  margin: 0 auto 40px;
  font-size: 22px;
  font-weight: normal;
  text-align: center;
  background: url(/1d93e6f06f0bd871bb46ef1e441be7bd.png) repeat-x 0 50%;
  background-size: 1px 1px;
}

section h2 span {
  background: #fff;
  padding: 0 80px;
}

.inner {
  width: 94%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.innerS {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 80px;
}

.impact {
  font-weight: bold;
  font-size: x-large;
}

.impact2 {
  font-weight: bold;
  font-size: large;
}

#mainImg p {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  color: white;
  font-weight: bold;
  font-size: 2em;
  font-family: Quicksand, sans-serif;
}
.header__3IhT1{text-align:center}.header__3IhT1 h1{padding-top:60px;margin:0}.mainnav__1JG3E a{color:#000}.mainImg__2c-Wr{position:relative;overflow:hidden;width:100%;height:528px}.mainImg__2c-Wr img{position:absolute;left:50%;max-width:1280px;width:1280px;height:528px;margin-left:-640px}a{color:#0066ff;text-decoration:none}a:hover{text-decoration:underline}.active__2kmrA{text-decoration:underline}a:active,a:focus{outline:0}input:active,input:focus{outline:0}@media only screen and (min-width: 1200px){.inner__3Xe1c{width:1024px}}@media only screen and (min-width: 800px){body{font-size:14px}a.menu__1-7kN{display:none}.panel__2uee3{display:block !important}.mainnav__1JG3E li{display:inline-block;padding:50px 25px;font-size:15px}}@media only screen and (max-width: 799px){.header__3IhT1{position:fixed;width:100%;z-index:500}.header__3IhT1 h1{padding-top:10px}.header__3IhT1 h1 img{margin-top:3px;max-height:45px;width:auto !important}.headerWrap__11fbS{position:relative;width:100%;height:70px;background:#fff;border-bottom:1px solid #ccc}a.menu__1-7kN{display:inline-block;position:relative;width:40px;height:40px;margin:10px}.menuBtn__11v-m{display:block;position:absolute;top:60%;left:50%;width:18px;height:2px;margin:-1px 0 0 -7px;background:#000;transition:0.2s}.menuBtn__11v-m:before,.menuBtn__11v-m:after{display:block;content:"";position:absolute;top:50%;left:0;width:18px;height:2px;background:#000;transition:0.3s}.menuBtn__11v-m:before{margin-top:-7px}.menuBtn__11v-m:after{margin-top:5px}a.menu__1-7kN .close__XnwRK{background:transparent}a.menu__1-7kN .close__XnwRK:before,a.menu__1-7kN .close__XnwRK:after{margin-top:0}a.menu__1-7kN .close__XnwRK:before{-ms-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-transform:rotate(-45deg)}a.menu__1-7kN .close__XnwRK:after{-ms-transform:rotate(-135deg);transform:rotate(-135deg);-webkit-transform:rotate(-135deg)}.panel__2uee3{width:100%;display:none;overflow:hidden;position:relative;left:0;top:0;z-index:100}.mainnav__1JG3E{position:absolute;top:0;width:100%;text-align:right;z-index:500}.mainnav__1JG3E ul{border-bottom:1px solid #ccc;background:#fff;text-align:left}.mainnav__1JG3E li a{position:relative;display:block;padding:15px 25px;border-bottom:1px solid #ccc;color:#000;font-weight:400}.mainnav__1JG3E li a:before{display:block;content:"";position:absolute;top:50%;left:5px;width:6px;height:6px;margin:-4px 0 0 0;border-top:solid 2px #000;border-right:solid 2px #000;-ms-transform:rotate(45deg);transform:rotate(45deg)}}

.mainImg__FbsiI{position:relative;overflow:hidden;width:100%;height:528px}.mainImg__FbsiI img{position:absolute;left:50%;max-width:1280px;width:1280px;height:528px;margin-left:-640px}.mainImg__FbsiI p{position:absolute;top:50%;left:50%;-ms-transform:translate(-50%, -50%);transform:translate(-50%, -50%);margin:0;padding:0;color:white;font-weight:bold;font-size:2em;font-family:Quicksand, sans-serif}@media only screen and (max-width: 799px){#mainImg__FbsiI{padding-top:60px;z-index:-100}}

.innerS__2wTAF{width:60%;margin:0 auto;padding-bottom:80px}.impact__1GzZf{font-weight:bold;font-size:x-large}.impact2___xV1F{font-weight:bold;font-size:large}.col2__2qVNS li{display:inline-block;width:100%;margin:20px 0}@media only screen and (max-width: 640px){.innerS__2wTAF{width:94%;padding-bottom:70px}}@media only screen and (min-width: 641px){.col2__2qVNS li{width:60%;vertical-align:top}.col2__2qVNS li:first-child{width:35%;padding-right:4%}}@media only screen and (max-width: 799px){section{padding-top:50px}section h2{margin:0 auto 20px}section h2 span{padding:0 30px}}

.innerS__1ug-8{width:60%;margin:0 auto;padding-bottom:80px}.col2__2Wmn2 li{display:inline-block;width:100%;margin:20px 0}.impact__3QRrP{font-weight:bold;font-size:x-large}@media only screen and (max-width: 640px){.innerS__1ug-8{width:94%;padding-bottom:70px}}@media only screen and (min-width: 641px){.col2__2Wmn2 li{width:60%;vertical-align:top}.col2__2Wmn2 li:first-child{width:35%;padding-right:4%}}@media only screen and (max-width: 799px){section{padding-top:50px}section h2{margin:0 auto 20px}section h2 span{padding:0 30px}}

.sec02__1gWJ9{padding:20 !important}.innerS__780Ku{width:60%;margin:0 auto;padding-bottom:80px}@media only screen and (max-width: 640px){.innerS__780Ku{width:94%;padding-bottom:70px}}@media only screen and (max-width: 799px){section{padding-top:50px}section h2{margin:0 auto 20px}section h2 span{padding:0 30px}}

#sec03__2Lvbk{padding:20 !important}#sec03__2Lvbk img{width:100%;margin-bottom:30px}.innerS__3cNfX{width:60%;margin:0 auto;padding-bottom:80px}.impact__3C3J2{font-weight:bold;font-size:x-large}@media only screen and (max-width: 640px){.innerS__3cNfX{width:94%;padding-bottom:70px}.col3__1pbPC li{line-height:1.7}.col3__1pbPC img{margin:0 auto}.col3__1pbPC .img__sTzOf{padding:30px;margin-bottom:20px}}@media only screen and (max-width: 799px){.col3__1pbPC li{margin:50px auto 0 auto;display:block}section{padding-top:50px}section h2{margin:0 auto 20px}section h2 span{padding:0 30px}}@media only screen and (min-width: 800px){.col3__1pbPC{text-align:center}.col3__1pbPC li{display:inline-block;width:28%;padding:0 2.5% 50px;margin-bottom:0;vertical-align:top;text-align:left}}

.sec04_02__jsWUP{background-size:cover;-webkit-background-size:cover;text-align:center;padding:220px 20px}.sec04_02__jsWUP img{width:auto}.innerS__23SSf{width:60%;margin:0 auto;padding-bottom:80px}.impact2__3qJdm{font-weight:bold;font-size:large}@media only screen and (max-width: 640px){.sec04_02__jsWUP{padding:50px 20px}.innerS__23SSf{width:94%;padding-bottom:70px}}@media only screen and (max-width: 799px){section{padding-top:50px}section h2{margin:0 auto 20px}section h2 span{padding:0 30px}}


/*# sourceMappingURL=ssr-bundle.88c7d.css.map*/