<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta property="og:title" content="先進党" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="ITで“みらい“を創り出す。" />
    <meta property="og:url" content="https://senshintou.com/" />
    <meta property="og:site_name" content="先進党 web site" />
    <meta
      property="og:image"
      content="https://senshintou.com/images/logo.jpg"
    />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="senshintou" />
    <title>先進党</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <% preact.headEnd %>
  </head>
  <body>
    <% preact.bodyEnd %>
  </body>
</html>